<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ufficio Digitale di Gabriel</title>
    <link rel="stylesheet" href="https://18f.it/CDN/bootstrap/bootstrap-italia.css">
    <link rel="stylesheet" href="https://18f.it/CDN/bootstrap/bootstrap-person.css">
    <link rel="stylesheet" href="https://18f.it/CDN/gmj/allert-banner.css">
    <script type="text/javascript" src="https://18f.it/CDN/JS/allert.js"></script>
    <script type="text/javascript" src="https://18f.it/CDN/JS/bootstrap/bootstrap-italia.js"></script>
</head>
<body>


    <header>
        <div class="logo">
         <a href="/">
            <img src="https://gabrieljones.it/assets/logo.png" alt="Stemma del GMJ">
         </a>
        <a href="/">
           <h3>Ufficio di Gabriel</h3>
        </a>
        </div>

        <div class="social-icons">
            <a href="https://agfo.fvg.it">Arena Giovani</a>
            <a href="https://blog.gabrieljones.it/">Blog</a>
            <a href="https://ufficiogabrieljones.it/dashboard/">Amministrazione 2</a>
        </div>
    </header>

    <section class="hero">
        <div class="title">
            <h2>Ufficio Digitale di Gabriel</h2>
            <h4>Benvenuti, in tutto il mio mondo!</h4>
        </div>
    </section>

    <nav>
        <a href="/documenti/">Documenti Pubblici</a>
        <a href="/servizi/">Servizi</a>
        <a href="/blog/">Blog</a>
        <a href="/contatti/">Contatti</a>
        <a href="/login/">Login</a>
    </nav>  

    <div class="container2">
        <div class="image"></div>
        <div class="content">
            <h1>Scopri chi sono</h1>
            <p>Ciao! Sono Gabriel Matteo Jones, sono un Web Developer, ex bibliotecario volontario, animatore, politico, videomaker e questo non è ancora nulla, scoprimi qui, nel mio ufficio digitale!</p>

            <table>
                <tr>
                    <td><a href="/chisono/" target="_blank">Chi sono</a></td>
                    <td><a href="/agfo/" target="_blank">Arena Giovani</a></td>
                    <td><a href="/trasparenza/" target="_blank">Trasparenza</a></td>
                </tr>
            </table>

            <table>
                <tr>
                    <td><a href="/grest/" target="_blank">Grest</a></td>
                    <td><a href="mailto:gjones@agfo.fvg.it" target="_blank">Contatti</a></td>
                    <td><a href="/documenti/" target="_blank">documenti publici</a></td>
                </tr>
            </table>
            <table>
                <tr>
                    <td><a href="/dashboard/" target="_blank">Entra nell'Ufficio</a></td>
                    <td><a href="/blog/" target="_blank">Blog+</a></td>
                    <td><a href="/avvisi/" target="_blank">Avvisi</a></td>
                </tr>
            </table>
        </div>
    </div>
  <div class="container">
    <main>
    {{ content }}
    </main>
  <p>Powered by DataWin</p>
</div>
</html>
